@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-white text-black;
    font-family: var(--font-sans);
    direction: rtl;
    scroll-behavior: smooth;
  }
}

.basic-border {
  border: 1px solid black;
}

.basic-button {
  @apply px-4 py-2 bg-white border border-black text-black font-bold;
}

.basic-button:active {
  @apply bg-black text-white;
}
